body{
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.no{
    background-image: url(front1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: right;
    padding-top:1.5em;   
}

.a1{
     color:aliceblue;
    margin-right:0.8em;
}

.a2{    
    color:aliceblue;
    margin-right:0.8em;
}

.carouselExampleSlidesOnly{	
	margin-top: 3em;
}


.navbar{
  background-color: transparent !important;
    background-image: url(front2.jpg);
     background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
    font-weight:600;
    font-size: 18px;
}

#navbar img{
	border:1px solid black;
	color:
	
}



#navigation{
	width:100%;
	background-image: url(frontb.jpg);
	float:left;
    margin-top: 0.5em;
    margin-bottom: 0.7em;
	padding:0.3em;
    background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
    font-size: 17px;
	font-weight:500;
}



#navigation a{
    color: black;
}

.image{
      background-position: center;
  background-repeat: no-repeat;
 
    
    
}
.container-fluid{
    width:99%;
	
}

.card1{
    text-align: center;
    background-color:#3cbbb4;
    margin:2em;
    border: 3px ;
   
}
.card2{
    text-align: center;
    background-color:#f79a3d;
    margin:2em;
    border: 3px ;
   
}
.card3{
    text-align: center;
    background-color:#ed443d;
    margin:2em;
    border: 3px ;
}
.card4{
    text-align: center;
    background-color:#7db979;
    margin:2em;
    border: 3px ;
}

.card-text{
	color: white;
}

.card1 .card-title{
	color:darkcyan;
}
.card2 .card-title{
	color:red;
}
.card3 .card-title{
	color:yellow;
}
.card4 .card-title{
	color:darkcyan;
}

h1{
    text-align: center;
    font-weight: bold;
     letter-spacing: 2px;
    padding-bottom: :10px;
    margin-top: 1em;
    color:#363636;
	
}

hr{
	align-content: center;
	margin-bottom: 1.1em;
    border: 0;
    height: 2px;
    width: 10em;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  
}

#about{
	margin-bottom: 3em;
	
}
#about img{
	padding-bottom: 1em;
	align-content: justify;
}

#abouttext{
	font-size:20px;
	text-align: center;
}

li{
	margin-right:5px;
	margin-left:5px;
	padding:1px;
	
}
footer{
	background-image: url(footer.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
	padding-top: 3em;
	padding-bottom: 6em;
}

 .copyright{
	 position: absolute;
  top: 60px;  
	}



body {
  min-height: 75rem;
  padding-top: 5rem;
}


